.hidden {
	display: none
}
.visible {
	display: block
}
form.contact {
	margin-left: 20%;
	margin-top: 30px;
}
input,
button {
	margin-bottom: 10px;
}
button {
	margin-top: 10px;
	background-color: transparent;
	color: black;
}
button:hover:enabled{
	color: white;
	background-color: black;
}

.example-form {
	margin-left: 20%;
	margin-top: 30px;
}

.example-full-width {
  width: 80%;
}
