
<form class="example-form" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">






  <table class="fl-table">
    <tr *ngFor="let d of comptes" >
      {{d.mail}}
    </tr>
  </table>

  <mat-form-field>
    <mat-label>Objet</mat-label>
    <input matInput [formControl]="objet" required>
    <mat-error *ngIf="objet.invalid">Please enter your object </mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Message</mat-label>
    <textarea matInput [formControl]="message" rows="15" required></textarea>
    <mat-error *ngIf="message.invalid">Please enter a message</mat-error>
  </mat-form-field>
  <br/>

  <button [disabled]="isLoading" class="submit" type="submit" style="margin-left: 275px;">Submit</button>
  <input [formControl]="honeypot" class="hidden" type="text" />
  <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
    <span>{{responseMessage}}</span>
  </div>
